html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-family: Comfortaa, Arial, sans-serif; font-size: 12px; line-height: 1.4; background: #F7F7F7; }

.header .header__in, .create .create__in, .footer .footer__totoggle, .content { max-width: 1200px; min-width: 1000px; width: 95%; margin: 0 auto; }

.top { position: fixed; top: 0; left: 0; right: 0; z-index: 1000; }

body { padding-top: 90px; padding-bottom: 150px; }

.header { background: #BFBFBF; }
.header .header__in { position: relative; height: 90px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__in { height: 50px; }
.header .header__logo { position: absolute; top: 23px; left: 0; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__logo { top: 5px; width: 60%; }
.header .header__user { position: absolute; top: 17px; right: 0; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__user { top: 10px; }
.header .header__user .header__av { width: 55px; height: 55px; border-radius: 50%; display: inline-block; background-position: 50% 50%; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__user .header__av { width: 30px; height: 30px; }
.header .header__search { position: absolute; top: 22px; right: 100px; width: 320px; background: #FFFFFF; height: 47px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__search { top: 4px; height: 40px; }
.header .header__searchinput { height: 47px; line-height: normal; font-size: 22px; font-family: Comfortaa, sans-serif; width: 222px; padding-left: 20px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__searchinput { height: 40px; }
.header .header__searchinput:-ms-input-placeholder { color: #C5C5C5; }
.header .header__searchinput:-moz-placeholder { color: #C5C5C5; }
.header .header__searchinput::-moz-placeholder { color: #C5C5C5; }
.header .header__searchinput::-webkit-input-placeholder { color: #C5C5C5; }
.header .header__searchinput::placeholder { color: #C5C5C5; }
.header .header__adv { position: absolute; right: 0; top: 0; width: 47px; height: 47px; border-left: 1px solid #BFBFBF; background: #F7F7F7; cursor: pointer; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__adv { height: 40px; }
.header .header__adv:before { content: ""; background: url('../img/icons-sdbcee04db0.png') 0 0 no-repeat; width: 25px; height: 23px; position: absolute; top: 11px; left: 11px; }
.is-small .header .header__adv:before { top: 9px; }
.header .header__searchsubmit { background: url('../img/icons-sdbcee04db0.png') 0 -515px no-repeat; width: 39px; height: 33px; right: 55px; top: 5px; position: absolute; cursor: pointer; }
.is-small .header .header__searchsubmit { top: 3px; }
.header .header__addnew { position: absolute; top: 26px; left: 50%; width: 127px; margin-left: -68px; text-align: center; height: 40px; line-height: 34px; border: 3px solid #999; font-size: 24px; color: #999999; text-decoration: none; border-radius: 37px; -moz-transition: all 0.2s linear; -o-transition: all 0.2s linear; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.is-small .header .header__addnew { top: 5px; }

.create { background: #f7f7f7; }
.create .create__in { position: relative; padding-top: 15px; padding-bottom: 25px; }
.create .create__close { position: absolute; right: 0; top: 20px; background: url('../img/icons-sdbcee04db0.png') 0 -134px no-repeat; width: 42px; height: 42px; cursor: pointer; }
.create .create__what { display: block; box-sizing: border-box; width: 90%; border: 1px solid #AEAEAE; padding: 0 15px; height: 52px; line-height: normal; font-size: 25px; color: #333; font-family: Comfortaa, sans-serif; margin-bottom: 19px; }
.create .create__what:-ms-input-placeholder { color: #D6D6D6; }
.create .create__what:-moz-placeholder { color: #D6D6D6; }
.create .create__what::-moz-placeholder { color: #D6D6D6; }
.create .create__what::-webkit-input-placeholder { color: #D6D6D6; }
.create .create__what::placeholder { color: #D6D6D6; }
.create h2 { font-weight: 300; color: #999999; font-size: 55px; text-align: center; line-height: 1; margin-bottom: 40px; }
.create .create__options { font-size: 26px; color: #858585; padding-top: 40px; *zoom: 1; }
.create .create__options:after { content: " "; display: table; clear: both; }
.create .create__options select { vertical-align: middle; margin-left: 10px; }
.create .create__submit { float: right; font-weight: 700; font-size: 32px; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI3ZTdkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIyY2ZjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #27e7de), color-stop(100%, #22cfc7)); background-image: -moz-linear-gradient(#27e7de, #22cfc7); background-image: -webkit-linear-gradient(#27e7de, #22cfc7); background-image: linear-gradient(#27e7de, #22cfc7); height: 63px; line-height: 63px; width: 180px; text-align: center; text-decoration: none; display: inline-block; color: #fff; cursor: pointer; border-radius: 6px; }

.footer { position: fixed; left: 0; bottom: 0; right: 0; background: #333333; box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.5); }
.footer .footer__totoggle { padding: 20px 0 10px 0; *zoom: 1; }
.footer .footer__totoggle:after { content: " "; display: table; clear: both; }
.footer .footer__toggle { position: absolute; top: -50px; color: #fff; font-size: 26px; height: 50px; line-height: 50px; padding: 0 25px; background: #333333; border-top-left-radius: 10px; border-top-right-radius: 10px; right: 20px; position: absolute; cursor: pointer; }
.footer .footer__toggle i { background: url('../img/icons-sdbcee04db0.png') 0 -33px no-repeat; width: 25px; height: 13px; display: inline-block; vertical-align: middle; margin-left: 10px; }
.footer .footer__toggle.is-active i { transform: rotate(180deg); }
.footer .footer__legal { text-align: center; font-size: 14px; color: #888; clear: both; }
.footer .footer__menu { float: left; list-style: none; font-size: 14px; margin-left: 20px; padding-top: 10px; }
.footer .footer__menu li { display: inline-block; margin-right: 38px; }
.footer .footer__menu a { color: #888; text-decoration: none; }
.footer .footer__menu a:hover { color: #fff; }
.footer .footer__right { float: right; margin-bottom: 24px; }
.footer .socials { list-style: none; font-size: 0; padding-top: 6px; }
.footer .socials li { display: inline-block; }
.footer .socials a { display: inline-block; margin-right: 20px; opacity: 0.5; }
.footer .socials a:hover { opacity: 1; }
.footer .socials .socials__tw { background: url('../img/icons-sdbcee04db0.png') 0 -638px no-repeat; width: 32px; height: 32px; }
.footer .socials .socials__fb { background: url('../img/icons-sdbcee04db0.png') 0 -216px no-repeat; width: 32px; height: 32px; }
.footer .socials .socials__gp { background: url('../img/icons-sdbcee04db0.png') 0 -258px no-repeat; width: 32px; height: 32px; }
.footer .socials .socials__pi { background: url('../img/icons-sdbcee04db0.png') 0 -473px no-repeat; width: 32px; height: 32px; }

.content { padding-bottom: 150px; padding-top: 20px; }

.items { *zoom: 1; }
.items:after { content: " "; display: table; clear: both; }
.items .item { float: left; width: 24%; margin-right: 1.33%; }
.items .item:last-child { margin-right: 0; }
.items.items_3 .item { width: 31%; margin-right: 3.5%; }
.items.items_3 .item:last-child { margin-right: 0; }
.items.items_2 .item { width: 48%; margin-right: 4%; }
.items.items_2 .item:last-child { margin-right: 0; }
.items.items_2 .item .item__picture { height: 350px; }
.items.items_4 .item .item__picture { height: 210px; }

.item__in { border: 1px solid #9C9C9C; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); background: #fff; position: relative; padding-bottom: 57px; margin-bottom: 20px; }
.item__in .item__picture { height: 270px; -webkit-background-size: contain; -o-background-size: contain; background-size: contain; background-position: 50% 50%; background-repeat: no-repeat; position: relative; }
.item__in .item__check { position: absolute; bottom: 0; left: 0; right: 0; top: 0; z-index: -1; background: url(../img/check.png) no-repeat 50% 55%; transition: all 0.3s linear; opacity: 0; -webkit-background-size: 210% auto; -o-background-size: 210% 2auto; background-size: 210% auto; }
.item__in.is-check .item__check { opacity: 0.5; z-index: 10; }
.item__in.is-voted .item__check { height: 100%; }
.item__in.is-winner:before { position: absolute; right: 10px; top: 10px; content: " "; background: url('../img/icons-sdbcee04db0.png') 0 -56px no-repeat; width: 87px; height: 68px; }
.item__in .item__text { position: absolute; bottom: 0; left: 0; right: 0; background: #fff; height: 57px; font-size: 15px; color: #535353; padding: 6px 13px 0 13px; overflow: hidden; }
.item__in.item_finished .item__buy { position: absolute; bottom: 5px; left: 0; right: 0; text-align: center; display: none; }
.item__in.item_finished:hover .item__text { display: none; }
.item__in.item_finished:hover .item__buy { display: block; padding: 0 5px; }
.item__in.item_finished:hover .item__buy button { font-size: 25px; border-radius: 6px; display: block; height: 42px; line-height: 42px; font-size: 25px; font-weight: 700; text-decoration: none; color: #fff; font-family: Comfortaa, sans-serif; text-align: center; width: 100%; background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI2ZTdkZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIxY2ZjNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='); background-size: 100%; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #26e7de), color-stop(100%, #21cfc7)); background-image: -moz-linear-gradient(#26e7de, #21cfc7); background-image: -webkit-linear-gradient(#26e7de, #21cfc7); background-image: linear-gradient(#26e7de, #21cfc7); }
.item__in.item_addtext { height: 269px; position: relative; }
.item__in.item_addtext textarea { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; padding: 15px; border: none; font-size: 25px; color: #858585; font-family: Comfortaa, sans-serif; box-sizing: border-box; }
.item__in.item_add { height: 269px; box-shadow: none; box-sizing: border-box; border: 2px dashed #B7B7B7; background: transparent; }
.item__in.item_add .item__addicon { border-radius: 50%; font-size: 30px; color: #A4A4A4; text-align: center; width: 132px; height: 132px; border: 3px dashed #B7B7B7; position: absolute; top: 50%; left: 50%; margin-left: -66px; margin-top: -66px; line-height: 1.1; box-sizing: border-box; padding-top: 30px; cursor: pointer; }

.pick { margin-bottom: 20px; position: relative; }
.pick .pick__title { text-align: center; font-size: 25px; font-weight: normal; color: #767676; margin-bottom: 13px; }
.pick .pick__socials { position: absolute; right: 0; top: 0; background: url('../img/icons-sdbcee04db0.png') 0 -558px no-repeat; width: 32px; height: 35px; }
.pick .pick__fave { position: absolute; left: 0; top: 3px; background: url('../img/icons-sdbcee04db0.png') 0 -300px no-repeat; width: 38px; height: 34px; cursor: pointer; }
.pick .pick__fave:hover { background: url('../img/icons-sdbcee04db0.png') 0 -391px no-repeat; width: 38px; height: 34px; }
.pick .pick__fave.is-active { background: url('../img/icons-sdbcee04db0.png') 0 -344px no-repeat; width: 38px; height: 37px; }

.votes { width: 240px; margin: 0 auto; margin-bottom: 18px; }

.vote { display: inline-block; margin-right: 10px; font-size: 32.5px; color: #999; }
.vote:last-child { margin-right: 0; }
.vote_total { position: relative; padding-right: 40px; }
.vote_total:after { content: ""; position: absolute; top: 9px; left: 47px; width: 32px; height: 25px; background: url('../img/icons-sdbcee04db0.png') 0 -603px no-repeat; width: 32px; height: 25px; }
.vote_men { position: relative; padding-right: 30px; }
.vote_men:after { content: ""; position: absolute; top: 8px; left: 37px; width: 32px; height: 25px; background: url('../img/icons-sdbcee04db0.png') 0 -435px no-repeat; width: 25px; height: 28px; }
.vote_women { position: relative; padding-right: 30px; }
.vote_women:after { content: ""; position: absolute; top: 8px; left: 37px; width: 32px; height: 25px; background: url('../img/icons-sdbcee04db0.png') 0 -680px no-repeat; width: 25px; height: 28px; }

.comments { position: relative; width: 100%; border: 1px solid #9C9C9C; box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); background: #FFF; font-size: 0; }

.comment { *zoom: 1; padding-top: 12px; padding-left: 15px; padding-right: 35px; padding-bottom: 25px; }
.comment:after { content: " "; display: table; clear: both; }
.comment img { float: left; width: 32px; height: 32px; margin-right: 11px; -webkit-border-radius: 50%; border-radius: 50%; }
.comment__text { margin-left: 49px; font-size: 15px; line-height: 17px; color: #232323; }
.comment__user { margin-left: 49px; margin-bottom: 9px; font-size: 17px; font-weight: 700; line-height: 17px; color: #232323; }
