// Normally mainpage styles
.content
	padding-bottom: 150px
	padding-top: 20px
	@extend %in
.items
	+clr
	.item
		float: left
		width: 24%
		margin-right: 1.33%
		&:last-child
			margin-right: 0
	&.items_3
		.item
			width: 31%
			margin-right: 3.5%
			&:last-child
				margin-right: 0
	&.items_2
		.item
			width: 48%
			margin-right: 4%
			&:last-child
				margin-right: 0
			.item__picture
				height: 350px

	&.items_4
		.item
			.item__picture
				height: 210px
.item
	border: 1px solid #9C9C9C
	box-shadow: 0 0 10px rgba(#000,.4)
	background: #fff
	position: relative
	padding-bottom: 57px
	margin-bottom: 20px
	&.item_comments
		border: none
		box-shadow: none
		background: none
	.item__in
		border: 1px solid #9C9C9C
		box-shadow: 0 0 10px rgba(#000,.4)
		background: #fff
		margin-bottom: 15px 
		position: relative
	.item__picture
		height: 420px
		-webkit-background-size: contain
		-o-background-size: contain
		background-size: contain
		background-position: 50% 50%
		background-repeat: no-repeat
		position: relative
	.item__check
		position: absolute
		bottom: 0
		left: 0
		right: 0
		top: 0
		z-index: -1
		background: url(../img/check11.png) no-repeat 50% 55%
		transition: all .3s linear
		opacity: 0
		// -webkit-background-size: contain
		// -o-background-size: contain
		// background-size: contain
	.item__percentage
		position: absolute
		color: #999999
		font-size: 25px  
		left: 10px 
		top: 10px 
		line-height: 1 
	.item__percentageline
		position: absolute
		bottom: 57px 
		left: 0
		width: 15px  
		background: #C9C9C9 
		z-index: 200 
		&.is-green
			background: #44FFFE 
	&.is-check
		.item__check
			opacity: 1
			z-index: 10
	&.is-voted
		.item__check
			height: 100%
	&.is-winner
		&:before
			position: absolute
			right: 10px
			top: 10px
			content: ' '
			+s(choicemade)
	.item__text
		position: absolute
		bottom: 0
		left: 0
		right: 0
		background: #fff
		height: 57px
		font-size: 15px
		color: #535353
		padding: 6px 13px 0 13px
		overflow: hidden
	&.item_finished
		.item__buy
			position: absolute
			bottom: 5px
			left: 0
			right: 0
			text-align: center
			display: none
		&:hover
			.item__text
				display: none
			.item__buy
				display: block
				padding: 0 5px
				button
					font-size: 25px
					border-radius: 6px
					display: block
					height: 42px
					line-height: 42px
					font-size: 25px
					font-weight: 700
					text-decoration: none
					color: #fff
					font-family: Comfortaa,sans-serif
					text-align: center
					width: 100%
					+g(#26E7DE,#21CFC7)
	&.item_addtext
		height: 57px + 212px
		position: relative
		textarea
			position: absolute
			top: 0
			left: 0
			right: 0
			bottom: 0
			width: 100%
			padding: 15px
			border: none
			font-size: 25px
			color: #858585
			font-family: Comfortaa,sans-serif
			box-sizing: border-box
	&.item_add
		height: 57px + 212px
		box-shadow: none
		box-sizing: border-box
		border: 2px dashed #B7B7B7
		background: transparent
		.item__addicon
			border-radius: 50%
			font-size: 30px
			color: #A4A4A4
			text-align: center
			width: 132px
			height: 132px
			border: 3px dashed #B7B7B7
			position: absolute
			top: 50%
			left: 50%
			margin-left: -66px
			margin-top: -66px
			line-height: 1.1
			box-sizing: border-box
			padding-top: 30px
			cursor: pointer
.pick
	margin-bottom: 20px
	position: relative
	.pick__title
		text-align: center
		font-size: 25px
		font-weight: normal
		color: #767676
		margin-bottom: 13px
	.pick__socials
		position: absolute
		right: 5px
		top: -2px
		cursor: pointer
		&.icon-494
			font-size: 35px
			transform: rotate(90deg)
			color: #bfbfbf
	.pick__fave
		position: absolute
		left: 0
		top: 0
		cursor: pointer
		&.icon-512
			font-size: 35px
			color: #bfbfbf		
			&:hover
				color: #00d0c8	
.votes
	width: 240px
	margin: 0 auto
	margin-bottom: 18px
.vote
	display: inline-block
	margin-right: 10px
	font-size: 32.5px
	color: #999
	&:last-child
		margin-right: 0
	&_total
		position: relative
		padding-right: 40px
	&_men
		position: relative
		padding-right: 32px
	&_women
		position: relative
		padding-right: 30px
.icon-505
	position: absolute
	top: 6px
	left: 48px
	font-size: 28px
.icon-485
	position: absolute
	top: 6px
	left: 43px
	font-size: 28px
.icon-484
	position: absolute
	top: 6px
	left: 43px
	font-size: 28px
.comments
	position: relative
	width: 100%
	border: 1px solid #9C9C9C
	box-shadow: 0 0 10px rgba(#000,.4)
	background: #FFF
	font-size: 0
.comment
	+clr
	padding-top: 12px
	padding-left: 15px
	padding-right: 35px
	padding-bottom: 25px
	img
		float: left
		width: 32px
		height: 32px
		margin-right: 11px
		-webkit-border-radius: 50%
		border-radius: 50%
	&__text
		margin-left: 49px
		font-size: 15px
		line-height: 17px
		color: #232323
	&__user
		margin-left: 49px
		margin-bottom: 9px
		font-size: 17px
		font-weight: 700
		line-height: 17px
		color: #232323
.adplugin
	width: 100%
	margin-top: -140px
	margin-bottom: 30px
	background: #FFF
	box-shadow: inset 0 0 27px 5px rgba(230, 230, 230, 1)
	+clr
	&__in
		@extend %in
		position: relative
		text-align: center
		.icon-504
			position: absolute
			right: -100px
			top: 42px
			font-size: 50px
			color: #bfbfbf
			cursor: pointer

	&__text
		float: left
		width: 245px
		margin-top: 29px
		margin-bottom: 24px
		font-size: 25px
		line-height: 30px
		color: #767676
	&__img
		margin-top: 19px
		margin-bottom: 7px
	&__btn
		float: right
		width: 245px
		margin-top: 39px
		margin-bottom: 37px
		padding: 22px 26px 25px
		font:
			family: Comfortaa, sans-serif
			size: 20px
		line-height: 20px
		color: #FFF
		+g(#00e8df, #00d0c8)
		border-radius: 7px

.explaine
	position: relative
	height: 45px
	margin-bottom: 77px
	border: 2px solid #b9b9b9
	box-shadow: 0 0 15px rgba(208, 208, 208, 1)
	+box
	&:after
		content: ""
		position: absolute
		top: -12px
		left: calc(50% - 12px)
		width: 24px 
		height: 24px
		border: 2px solid transparent
		border-top: 2px solid #b9b9b9
		border-left: 2px solid #b9b9b9
		transform: rotate(45deg)
		background: #FFF
	&__vote	
		display: block
		width: 100%
		padding: 4px 15px 3px
		font:
			family: Comfortaa, sans-serif
			size: 25px
		line-height: normal
		color: #d0d0d0
		background: #FFF
.getcomment
	position: relative
	height: 45px
	margin-bottom: 77px
	border-top: 2px solid #b9b9b9
	+box
	&:after
		content: ""
		position: absolute
		top: -12px
		left: calc(25% - 12px)
		width: 24px 
		height: 24px
		border: 2px solid transparent
		border-top: 2px solid #b9b9b9
		border-left: 2px solid #b9b9b9
		transform: rotate(45deg)
		background: #f7f7f7
	.icon-268
		position: absolute
		top: 5px
		right: 0
		font-size: 30px
		color: #c4c4c4
	&__text	
		display: block
		width: 100%
		padding: 4px 15px 3px
		font:
			family: Comfortaa, sans-serif
			size: 25px
		line-height: normal
		color: #d0d0d0
		background: #f7f7f7
